#langue{
	position: absolute;
	top: 3px;
	right: 3px;
}

#BtnFr, #BtnAng, #BtnEsp{
	width: 55px;
	height: 55px;
	padding: 0;
	margin: 0 ;
	border: #0E7894;
}

.Fr, .Ang, .Esp{
	width: 100%;
	height: 100%;
}



.bouton, #page-actuel:hover {
	background-color:#0E7894;
	border-radius:15px;
	border:1px solid #8c8c8c;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	text-decoration:none;
	color:white;
	margin:2px 5px;
	padding:4px 5px;
	box-shadow:none;
	text-align:center;
}
@media screen and (min-width: 1144px) {
	.bouton, .bouton:hover, #page-actuel, #page-actuel:hover {
		width:10%;
		height:auto;
	}
	.logo {
		width : 10%;
		min-width:35px;
		display:inline-block;
		vertical-align: middle;
	}
	#CGU,#Ancre, #MentionLegal {
	width:12%;
	height:auto;
	margin-left :5%;
	margin-right :5%;
	vertical-align: middle;
	}
	#Ancre {
		margin-top: 2%;
	}
	.icon {
	width : 4.16%;
	}
}
@media screen and (min-width: 800px) and (max-width:1143px) {
	.bouton, .bouton:hover, #page-actuel, #page-actuel:hover {
		width:15%;
		height:auto;
	}
	
	  #langue {
        position:static;
    	}
	
	.logo {
		width : 10%;
		min-width:35px;
		display:inline-block;
		vertical-align: middle;
		 margin-bottom:0.5%;
	}
	#CGU,#Ancre, #MentionLegal {
	width:20%;
	height:auto;
	margin-left :5%;
	margin-right :5%;
	vertical-align: middle;
	}
	#Ancre {
		margin-top: 2%;
	}
	.icon {
	width : 4.16%;
	}
}
@media screen and (max-width: 874px) {
	.bouton, .bouton:hover, #page-actuel, #page-actuel:hover {
	width:90%;
	height:auto;
	}
	.logo {
		width : 20%;
		min-width:55px;
		display:inline-block;
		vertical-align: middle;
	}
	#header {
		text-align:center;
		flex:auto;
	}
	#page-actuel {
		width : 90%;
		height:auto;
	}
	#CGU,#Ancre, #MentionLegal {
	width: 90%;
	height:auto;
	margin-left :0%;
	margin-right :0%;
	padding-top: 1%;
	margin-bottom: 1%;
	vertical-align: middle;
	}
	.icon {
	width : 10%;
	}
}
.color1 {
	background-color : #A3D5CF 
}
body {
	height:100%;
	width:100%;
	margin:0;
	
}
#header {
	margin-bottom: 2%;
	padding: 1%;
	margin-top:0%;
	margin-left:0%;
	margin-right:0%;
	flex:auto;
}
.bouton:hover,#page-actuel {
	background-color:#168f5d;
	color:white;
	box-shadow: 5px 5px 7px 3px rgba(0,0,0,0.19);
}
#header, #footer, .article, .section, p {
 display: inline-block;
 vertical-align: middle;
 float: none;
}
#footer {
	position: static;
	padding-top : 1%;
	text-align:center;
}
#copyR {
	text-align:center;
}

