/* Mise en page général du body A propos*/


.main {
	padding: 10px;
}

#histoire {
	text-align: center;
	display:inline-block;
}
#Nous {
	display:inline-block;
	margin:2%;
}
#implentation {
	text-align : center;
}
#Consulting {
	max-width:100%;
	margin-top:2%;
}
h2 {
	text-align:center;
}
#legende1 {
	background-color:#0E7894;
	border-radius:15px;
	border:1px solid #8c8c8c;
	display:inline-block;
	font-family:Arial;
	text-decoration:none;
	color:white;
	margin:2px 5px;
	padding:0.5%;
	box-shadow:none;
	text-align:center;
}
#legende2 {
	background-color:#168f5d;
	border-radius:15px;
	border:1px solid #8c8c8c;
	display:inline-block;
	font-family:Arial;
	text-decoration:none;
	color:white;
	margin:2px 5px;
	padding:0.5%;
	box-shadow:none;
	text-align:center;
}

/* Mise en page pour les grand écran  */
@media screen and (min-width: 1144px) {
	#middle {
		display:flex;
		vertical-align:middle;
		justify-content: space-evenly;
}
	#Nous{
		width:55%;
	}
	#implentation>img{
	width:45%;
	}
}

/* Mise en page pour les petit et moyen écran */
@media screen and (max-width: 1144px) {
	#implentation>img, #histoire>img {
		width:90%;
	}
	#histoire>img {
		 width:90%;
	 }
}
