/* Mise en page de la pop up */

.btngerer{
    background-color: darkgray;
    font-size: 15pt;
    color: #000;
    cursor: pointer;
}
.btngerer:hover{
    background-color: grey;
}

.btnautoriser{
    background-color: darkgray;
    font-size: 15pt;
    color: #000;
    cursor: pointer;
}

.btnautoriser:hover{
    background-color: gray;
}

.overlay{
    position:fixed;
    left: 0%;
    top: 0%;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.popup{
    margin: 10% auto ;
    width: 70%;
    background-color: rgb(228,228,228);
    border-radius: 10px;
    padding: 1em;

}

.btnclose{
    float: right;
    cursor: pointer;
}

.textecookies{
    position: fixed;
    bottom: 0;
    background-color: #b2b2b2;
    width: 100vw;    
}
