/* Texte qui apparait sur l'img */

.phase {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align:center;
}
.phase .textimg {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 130px 20px;
}
.phase:hover .textimg { opacity: 0.8; }
.phase .title_text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.phase .title_text {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.phase:hover .title_text,
.phase:focus .title_text {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
/* Mise en page du body Services */

#main {
    padding: 5px;
}  

.titreDiv {
    text-align: center;
}

#nosServices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3%;
}

#explicationService, .divSolution {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #d7d7d745 ;
}

#explicationService {
    width: 80%;
    margin-top: 2%;
}

.titreSolSer {
    text-align: center;
    margin-block-end: 0em;
}

.descriptifSolSer {
    padding: 0% 1% 0% 1%;
    margin-block-start: 0.5em;
    text-align: justify;
}

#nosSolutions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divSolution {
    flex-basis: 90%;
    margin-bottom: 2%;
}

.imgservice {
    width: 387px;
    height: 387px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
}

/* Mise en page sur petit et moyen écran */
@media screen and (min-width:768px) {
    .divSolution {
        flex-basis: 45%;
    }
}

/* Mise en page sur grand écran */
@media screen and (min-width:1024px) {
    .divSolution {
        flex-basis: 30%;
    }
}
