.main {
	padding: 10px;
}

#histoire {
	text-align: center;
}
#Nous {
	text-align:right;
}
#implentation {
	text-align : left;
}
#legende1 {
	background-color:#0E7894;
	color :white;
}
#legende2 {
	background-color:#168f5d;
	color :white;
}